.start_page {
  height: 100vh;
  display: flex;
  justify-content: center;

  margin-top: 150px;
}

.page_left {
  background: #f9fbff;
  display: flex;
  flex-direction: column;
}

.logo_icon{
  float: right;
}