.start_page {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.page_left {
  padding: 20px 0px 0px 110px;
  background: #f9fbff;
  display: flex;
  flex-direction: column;
}

.img_cat img {
  width: 100%;
  height: auto;
}
