.chat {
  height: 108px;
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 1001;
  border-radius: 12px 12px 0 12px;
  overflow: hidden;
}

.chat_open_button {
  border: none;
  outline: none;
  background: transparent;
}

.chat.open {
  height: 520px;
}

.chat_container {
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.chat_container input {
  font-family: "Montserrat", sans-serif;
  background: #efefef;
  border-radius: 12px;
  padding: 9px 31px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: rgba(64, 64, 64, 0.6);
}

.chat_container form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.chat_container button {
  border: none;
  outline: none;
  background: transparent;
}

.chat_container button img {
  width: 22px;
  height: 22px;
}

.chat_header {
  padding: 12px 15px 12px 45px;
  background: linear-gradient(139deg, #3c57e3 0%, #384ec6 100%);
  display: grid;
  align-items: center;
  grid-template-columns: 85% 15%;
}

.chat_header p {
  font-size: 16px;
  color: #fff;
}

.chat_messages {
  height: 390px;
  margin: 10px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.chat_message {
  flex-basis: 100%;
  margin-bottom: 10px;
}

.chat_message:first-child {
  margin-top: 10px;
}

.chat_message p {
  display: inline-block;
  max-width: 100%;
  word-wrap: break-word;
  padding: 10px;
  background-color: #eee;
  border-radius: 6px;
}

.chat_form {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.chat_input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.chat_submit_button {
  margin-left: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.chat_close_button {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.chat_close_button img {
  width: 160px;
  height: 160px;
}
