.main_info {
  margin-top: 178px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.main_info h1 {
  font-weight: 500;
  font-size: 42px;
  color: #1f1f1f;
}

.main_info p {
  font-weight: 400;
  font-size: 24px;
  color: #1f1f1f;
}

.main_info button {
  cursor: pointer;
  background: #2749fc;
  border-radius: 4px;
  padding: 8px 18px;
  outline: none;
  border: none;
  font-weight: 100;
  font-size: 22px;
  color: #fff;
}
