.main_info {
  margin-top: 178px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.main_info h1 {
  font-weight: 900;
  font-size: 32px;
  color: #fff;
}

.main_info p {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}

.main_info button {
  cursor: pointer;
  background: #b32121;
  border-radius: 10px;
  padding: 22px 18px;
  width: 224px;
  height: 73px;
  outline: none;
  border: none;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}
