.hero_block {
  position: relative;
}

.bluebg_zone {
  position: absolute;
  top: 250px;
  left: 0;
  height: 300px;
  width: 100%;
  background: linear-gradient(131deg, #3c57e3 0%, #384ec6 100%);
  border-radius: 0 120px 120px 0;
  z-index: -1;
}

.hero_info {
  display: flex;
  flex-direction: column;
  gap: 142px;
}

.hero_info_top {
  color: #1f1f1f;
}

.hero_text h1 {
  font-weight: 500;
  font-size: 54px;
}

.hero_next {
  display: flex;
  flex-direction: row;
}

.hero_next_text {
  margin-top: 12px;
  width: 710px;
}

.hero_next_text p {
  font-weight: 400;
  font-size: 28px;
}

.hero_info_bottom {
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.hero_photo img {
  margin-top: -230px;
}
