* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f9fbff;
}

.subtitle {
  margin-bottom: 42px;
  font-weight: 500;
  font-size: 30px;
  color: #1f1f1f;
}

.button {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

@media (max-width: 1350px) {
  .container {
    margin: 0 60px;
  }
}