.profileInfo_block {
  display: grid;
  grid-template-columns: auto 289px;
}

.profile_data {
  display: flex;
  flex-direction: row;
  gap: 54px;
}

.data_types {
  border-radius: 12px;
  padding: 18px 28px;
  width: 359px;
  background: #e6eaff;
}

.choose_item {
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 18px;
  width: 303px;
  text-align: center;
}

.choose_item p {
  font-weight: 400;
  font-size: 22px;
  color: #1f1f1f;
}

.data_main_info {
  margin-top: 40px;
}

.data_main_info {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.data_enter {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.data_enter p {
  font-weight: 400;
  font-size: 22px;
  color: #444;
}

.data_enter input {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.02), 0 9px 9px 0 rgba(0, 0, 0, 0.01),
    0 20px 12px 0 rgba(0, 0, 0, 0.01), 0 36px 14px 0 rgba(0, 0, 0, 0),
    0 56px 16px 0 rgba(0, 0, 0, 0);
  border: 1px solid #cacaca;
  width: 100%;
  border-radius: 10px;
  padding: 15px 14px;
  border: none;
  outline: none;
  color: #888;
  font-weight: 300;
}

.data_button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 18px;
  width: 205px;
  background: #2749fc;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
}

.show_contacts {
  margin-top: 36px;
}

.data_button {
  margin-top: 137px;
}

.profile_static {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.comeIn {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 8px 34px;
  width: 289px;
  text-align: center;
}

.comeIn a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.interest_info p {
  font-weight: 500;
  font-size: 22px;
  color: #000;
}

.interest_items {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.interest_item {
  width: 290px;
}

.interest_item a {
  text-decoration: none;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.interest_item_text {
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  padding: 30px 27px;
}

.interest_item_text p {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
